.miniboard{
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 800px){
        display: block;
        width: 90%;
        margin: 40px auto;
    }
}

@media screen and (max-width: 800px){
    .hide{
        display: none;
    }
}
