.label{
    margin: auto;
    
    span{
        font-family: 'Bungee Outline', cursive;
        font-size: 20px;
        margin-left: 15px; 
    }        

}

.title {
    span{
        margin:0;
        font-family: 'Bungee Shade', cursive;
        font-size: 25px;
    }
}