.card{
    margin-top: 10px;
    .card-content {
        box-shadow: 1px 3px 5px grey;
        background-color: white;
        padding: 1em;
        text-align: center;
        margin: 5px 0px 5px;
        //border: 10px solid white;
        //background-color: salmon;
        height: 80%;
        display: flex;
        flex-direction: row;

        .content{
            
            .title{
                font-family: 'Bungee Outline', cursive;
                font-size: 20px;
            }
            .text-list{
                list-style: none;
                text-align: left;
                width: 100%;
            }
            .text{
                font-family: 'Jost', sans-serif;
                font-size: 16px;
                display: block;
                margin: 10px;
            }        
        }
    }

    .details {
        display: inline-block;
    }
}